.bg {
    background: #000;
}

.white {
    color: aliceblue;
}

button.main {
    border-color: aliceblue;
    border-width: thick;
    position: relative;
    width: 100%;
    top: 250px;
    z-index: 1;
    font-size: 1.3em;
}

div.login {
    color: aliceblue;
    position: relative;
    top: 100px;
}


div.signup {
    position: relative;
    color: aliceblue;
    top: 100px;
}

.flex {
    display: flex;
}
